.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  margin-bottom: 125px;
}

.header__logo {
  width: 254px;
  height: auto;
}

@media (max-width: 320px) {
  .header {
    margin-bottom: 50px;
  }

  .header__logo {
    width: 188px;
  }
}
