.lead {
  text-align: center;
  padding: 0 148px;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 32px;
}

.lead__image {
  width: 100%;
  object-fit: cover;
  margin-top: 64px;
}
