@media (max-width: 768px) {
  .lead,
  .intro,
  .footer {
    padding: 0 24px;
  }

  .lead__title {
    font-size: 75px;
    line-height: 79px;
  }

  .lead__subtitle {
    margin-top: 25px;
  }

  .lead__image {
    margin-top: 30px;
    margin-left: -24px;
    margin-right: -24px;
    width: calc(100% + 48px);
  }

  .intro {
    margin-top: 90px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__quote {
    margin-top: 50px;
  }

  .intro__quote-author {
    margin-top: 8px;
  }

  .intro__text {
    margin-top: 32px;
  }

  .footer {
    margin-top: 88px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    width: 188px;
  }

  .header {
    margin-bottom: 50px;
  }

  .lead,
  .intro,
  .footer {
    padding: 0 16px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }

  .lead__image {
    margin-top: 40px;
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 32px);
  }

  .intro {
    margin-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__quote {
    margin-top: 40px;
  }

  .intro__quote-author {
    margin-top: 10px;
  }

  .intro__text {
    margin-top: 32px;
  }

  .footer {
    margin-top: 64px;
  }
}
